@import '../../../node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: var(--line-height-md);
    font-size: var(--font-size-base);
    font-family: Overpass, sans-serif;
    background: var(--color-gray-900);
    color: var(--color-white);
}

section {
    margin-top: 5rem;
}

h1 {
    padding-bottom: 2rem;
    padding-top: 1rem;

    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-light);
    color: var(--color-white);
}

h2 {
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;

    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}