<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uh-oh, we did a fucky wucky</title>

    <link rel="stylesheet" href="/scss/dist/style.css">
    <link rel="stylesheet" href="/scss/dist/components.css">
    <link rel="stylesheet" href="/scss/dist/grid.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .center-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 550px;
            min-height: 350px;
            border: 2px solid #F0F0F0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 3rem;
            text-align: center;
            border-radius: .5rem;
        }

        .center-card h1 {
            font-size: 24px;
            font-weight: 500;
            color: #424242;
            margin-bottom: 1rem;
        }

        .center-card p {
            color: #505050;
        }

        .center-card a {
            color: #FA4821;
        }

        .center-card .icon {
            background: linear-gradient(90deg, #FA4821 0%, #AE0F56 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 64px;
            margin-bottom: 1rem;
        }

        .center-card .button {
            background: #F0F0F0;
            color: #505050;
            border-radius: 8px;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 16px 32px;
            margin-top: 2rem;
            font-weight: 500;
            cursor: pointer;
        }

        .center-card .button .material-icons {
            font-size: 17px;
            margin-right: .5rem;
        }
    </style>
</head>
<body>
    <div id="app">
        <navbar></navbar>

        <div class="container">
            <div class="center-card">
                <i class="material-icons icon">error_outline</i>
                <h1><%- error.message %></h1>
                <p><%- error.description %></p>
                <a class="button" href="<%- error.safetyURL %>"><i class="material-icons">arrow_back</i> Back to safety</a>
            </div>
        </div>
    </div>

    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'
        import Navbar from '/components/navbar.js'
        Vue.component('Navbar', Navbar);
        var app = new Vue({
            el: '#app'
        });
    </script>
</body>
</html>