/**
 *  The Navbar component
 */
.navbar {
    height: 100px;
    width: 100%;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);

    .container {
        height: inherit;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .nav-logo-title {
        /* Tomato-Cherry */
        background: linear-gradient(90deg, #FA4821 0%, #AE0F56 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
        font-size: 32px;
        letter-spacing: 2px;
    }

    .nav-logo-db {
        /* Tomato-Cherry */
        color: #ae0f56;
        margin-left: 1rem;
    
        font-size: 32px;
        letter-spacing: 2px;
    }

    .nav-logo-container {
        display: flex;
        align-items: center;
    }

    .nav-logo {
        height: 36px;    
        margin-right: 1rem;
        margin-bottom: 0.25rem;
    }

    .nav-user {
        display: flex;
        align-items: center;
        border: 2px solid #F0F0F0;
        box-sizing: border-box;
        padding: .75rem 1rem;
        border-radius: 0.5rem;

        .nav-avatar {
            height: 38px;
            width: 38px;
            border-radius: .5rem;
        }

        .nav-name-container {
            margin: 0 1rem;

            .nav-username {
                font-weight: 500;
                font-size: 20px;
                color: #424242;
            }
    
            .nav-tag {
                font-size: 14px;
                color: #969696;
            }
        }
    }
}

/**
 *  The Badge component
 */
.badge {
    font-size: 14px;
    display: inline-flex;
    flex-direction: row;
    padding: 6px 16px;
    background: #F0F0F0;
    border-radius: 999px;
    font-weight: 500;
    color: #505050;
    margin-right: 0.5rem;

    .material-icons {
        font-size: 15px;
        margin-right: 8px;
    }
}

/**
 *  The Divider component
 */
.divider {
    font-size: 16px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #505050;

    hr {
        margin: 0 1rem;
        flex-grow: 1;
        border: 1px solid #F0F0F0;
    }
    
    h3 {
        font-size: 24px;

        .material-icons {
            font-size: 24px;
        }
    }

    .divider-expand {
        color: #969696;
        cursor: pointer;
    }

    .material-icons {
        font-size: 14px;
        margin-bottom: 3px;
        vertical-align: text-bottom;
    }
}

/**
 *  The Achivement Card component
 */
.achievement-card {
    display: inline-flex;
    padding: 1rem;
    border: 2px solid #F0F0F0;
    border-radius: .5rem;
    align-items: center;
    margin: .5rem;
    box-sizing: border-box;

    @media screen and (min-width: 480px) {
        width: calc(100% - 1rem);
    }

    @media screen and (min-width: 600px) {
        width: calc(50% - 1rem);
    }

    @media screen and (min-width: 960px) {
        width: calc(33.33% - 1rem);
    }

    img {
        height: 64px;
        width: 64px;
        border-radius: .5rem;
        margin-right: 1rem;
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
        color: #424242;
        margin-bottom: .25rem;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
    }

    p {
        font-size: 16px;
        color: #969696;
        margin-bottom: .25rem;
    }
}

/**
 *  The Game Card component
 */
.game-card {
    position: relative;
    display: inline-flex;
    padding: 1rem;
    background-image: #F0F0F0;
    background-size: cover;
    background-position: center center;
    border-radius: .5rem;
    margin: .5rem;
    height: 200px;
    box-sizing: border-box;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        margin: -1rem;
        border-radius: .5rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    .gc-text-container {
        color: #ffffff;
        position: absolute;
        bottom: 1rem;
        z-index: 0;

        p {
            opacity: 0.8;
        }
    }

    @media screen and (min-width: 480px) {
        width: calc(100% - 1rem);
    }

    @media screen and (min-width: 600px) {
        width: calc(50% - 1rem);
    }

    @media screen and (min-width: 960px) {
        width: calc(25% - 1rem);
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: .25rem;
        width: 100%;
    }

    p {
        font-size: 16px;
        margin-bottom: .25rem;
    }
}

/**
 *  The Stat Card component
 */
.stat-card {
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 1.1231rem); /* WHAT THE FUCK IS THIS NUMBER?! */
    height: 150px;
    border: #f0f0f0 solid 2px;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    color: #505050;
    text-align: center;
    margin: 0.5rem;
    box-sizing: border-box;

    .sc-slot {
        font-size: 32px;
        font-weight: 400;
    }

    b {
        font-size: 48px;
        font-weight: 600;
        color: #FA4821;
    }

    @media screen and (min-width: 600px) {
        width: calc(50% - 1.1231rem);
        max-width: 350px;
    }

    @media screen and (min-width: 960px) {
        width: calc(33% - 1.1231rem);
    }
}