/**
 *  The Navbar component
 */
.navbar {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
    letter-spacing: 2px;
    height: 100px;

    .nav-logo {
        height: 36px;
        margin-bottom: 0.25rem;
    }

    h1, p {
        font-size: 32px;
    }
}

/**
 *  The Badge component
 */
.badge {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 4px 16px;
    background: #F0F0F0;
    border-radius: 999px;
    font-weight: 500;
    color: #505050;
    margin-right: 0.5rem;

    .material-icons {
        font-size: 15px;
        margin-right: 8px;
    }
}

/**
 *  The Divider component
 */
.divider {
    hr {
        margin: 0 1rem;
        flex-grow: 1;
        border: 1px solid #F0F0F0;
    }
    
    h3 {
        font-size: 24px;

        .material-icons {
            font-size: 24px;
        }
    }

    .material-icons {
        font-size: 14px;
        margin-bottom: 3px;
        vertical-align: text-bottom;
    }
}

/**
 *  The Achivement Card component
 */
.achievement-card {
    padding: 1rem;
    border: 2px solid #F0F0F0;
    border-radius: .5rem;
    margin: .5rem;
    box-sizing: border-box;

    @media screen and (min-width: 600px) {
        width: calc(100% - 1rem);
    }

    @media screen and (min-width: 960px) {
        width: calc(50% - 1rem);
    }

    @media screen and (min-width: 1150px) {
        width: calc(33.33% - 1rem);
    }

    img {
        height: 64px;
        width: 64px;
        border-radius: .5rem;
        margin-right: 1rem;
    }

    h3 {
        font-size: 20px;
        margin-bottom: .25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/**
 *  The Game Card component
 */
.game-card {
    position: relative;
    padding: 1rem;
    background-image: #F0F0F0;
    background-size: cover;
    background-position: center center;
    border-radius: .5rem;
    margin: .5rem;
    height: 200px;
    box-sizing: border-box;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        margin: -1rem;
        border-radius: .5rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    .gc-text-container {
        position: absolute;
        bottom: 1rem;
        z-index: 0;

        p {
            opacity: 0.8;
        }
    }

    @media screen and (min-width: 480px) {
        width: calc(100% - 1rem);
    }

    @media screen and (min-width: 600px) {
        width: calc(50% - 1rem);
    }

    @media screen and (min-width: 960px) {
        width: calc(25% - 1rem);
    }

    h3 {
        font-size: 20px;
        margin-bottom: .25rem;
    }

    p {
        font-size: 16px;
        margin-bottom: .25rem;
    }
}

/**
 *  The Stat Card component
 */
.stat-card {
    width: 100%;
    height: 150px;
    border: #f0f0f0 solid 2px;
    border-radius: .5rem;
    margin: 0.5rem;
    box-sizing: border-box;

    .sc-slot {
        font-size: 32px;
        margin-bottom: .5rem;
    }

    b {
        font-size: 48px;
        font-weight: 600;
        color: #FA4821;
    }

    @media screen and (min-width: 600px) {
        width: 50%;
        max-width: 350px;
    }

    @media screen and (min-width: 960px) {
        width: 33.33%
    }
}

/**
 *  The Button component
 */
.button {
    padding: 1rem 2rem;
    text-decoration: none;
    width: fit-content;
    border-radius: 0.5rem;
    font-size: 18px;

    &:hover {
        text-decoration: none;
    }
}